.add-new {
    width: 50vw;
    height: auto;
    max-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.add-new-ele {
    /* height: 12rem; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin: 5% 0px;
    margin-bottom: 0px;
    padding: 3% 10%;
    background-color: #beb7a4;
}

.add-new-personal {
    margin-top: 0px;
    flex-grow: 1;
}

.add-new img {
    height: 200px;
    width: 200px;
}

.add-new-personal-text {
    /* width: max-content; */
    /* height: 12.5rem; */
    /* min-height: 200px; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    flex-grow: 1;

    margin-left: 10%;
}

.add-new input,
.add-new select {
    height: 2rem;

    box-sizing: border-box;

    padding: 0px 1rem;
}

.add-new-education,
.add-new-skill,
.add-new-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.add-new-education-text,
.add-new-skill-text,
.add-new-experience-text {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-transform: capitalize;
}

.add-new-experience-text {
    display: flex;
    flex-direction: column;

    margin-bottom: 5%;
}

.add-new-experience-text p {
    margin: 0px;
}

.modify-buttons {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;

    margin: 1% 0px;
    padding: 0px 5%;
}

.modify-buttons button {
    height: 50px;
    width: 50px;

    margin-left: 5%;
}

.companyName {
    text-transform: capitalize;
}

/* indivisual section height */

.add-new-ele button {
    height: 2rem;
    width: 2rem;

    margin-top: 1rem;

    /* border-radius: 2rem; */
}

.add-new-experience {
    margin-bottom: 0px;
}

.add-new-education-text input,
.add-new-skill-text input,
.add-new-experience-text input {
    margin-bottom: 1rem;
}

.add-new-experience-text {
    margin-bottom: 0px;
}

.submitDiv {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitDetails {
    width: 10rem;
    height: 3rem;

    font-size: 1.2rem;

    margin: 1rem 0px;
}

.add-new-skill {
    padding: 3% 10%;
    margin: 5% 0px;
    margin-bottom: 0px;
    padding-top: 0px;

    background-color: #beb7a4;
}

.add-new-skill-text {
    margin: 5% 0px;
    margin-bottom: 0px;
}

.add-new-ele .add-new-education-text button,
.add-new-ele .add-new-skill-text button,
.add-new-ele .add-new-experience-text button {
    width: 20%;
}

.skill-delete {
    width: 20%;
    height: 2rem;
}

.add-new-ele {
    padding-top: 0px;
}

.add-new-personal,
.add-new-education-text,
.add-new-experience-text {
    padding-top: 3%;
}

.add-new-personal {
    height: 500px !important;
}
