@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

html {
    overflow-y: hidden;
}

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

.app-container {
    background-color: #191716;
}
